<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Perfil</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<header>
    <h1>Portafolio Personal</h1>
</header>

<div class="container">
    <div class="profile-info">
        <img src="https://avatars.githubusercontent.com/u/120280653?v=4" alt="Foto de Perfil">
        <div>
            <h2>Nombre: Edward Esteban Sanchez M.</h2>
            <p>Correo: edwar5020@gmail.com</p>
        </div>
    </div>

    <section>
        <h2>Estudios</h2>
        <ul>
            <li>
                <strong>Universidad del Quindio</strong> - Ingenieria de sistemas y computación (2022 - Presente)
                <p>Descripción de las responsabilidades y logros en la empresa ABC.</p>
            </li>
            <li>
                <strong>Estudios freelance</strong> - Desarrollo web (2023 - 2024)
                <p>Descripción de las responsabilidades y logros en la empresa XYZ.</p>
            </li>
        </ul>
    </section>

    <section>
        <h2>Proyectos</h2>
        <ul>
            <li>
                <strong>Proyecto 1</strong>
                <p>Descripción del proyecto 1.</p>
            </li>
            <li>
                <strong>Proyecto 2</strong>
                <p>Descripción del proyecto 2.</p>
            </li>
        </ul>
    </section>

    <section>
        <h2>Conocimientos</h2>
        <ul>
            <li>Lenguajes de Programación: HTML, CSS, JavaScript, Java</li>
            <li>Frameworks: Angular, SpringBoot</li>
            <li>Herramientas: Git, Github</li>
        </ul>
    </section>
</div>



</body>
</html>
