<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Perfil</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<header>
    <h1>Portafolio Personal</h1>
</header>

<div class="container">
    <div class="profile-info">
        <img src="https://avatars.githubusercontent.com/u/120280653?v=4" alt="Foto de Perfil">
        <div>
            <h2>Nombre: Edward Esteban Sanchez M.</h2>
            <p>Correo: edwar5020@gmail.com</p>
        </div>
    </div>

    <section>
        <h2>Estudios</h2>
        <ul>
            <li>
                <strong>Universidad del Quindio</strong> - Ingenieria de sistemas y computación (2022 - Presente)
                <p>Soy un ingeniero de sistemas especializado en Java y Spring Boot. Me dedico a diseñar, desarrollar 
                    y mantener aplicaciones web y de backend. Utilizo Spring Boot para crear soluciones eficientes, 
                    seguras y escalables. Mis responsabilidades incluyen desarrollar APIs RESTful, escribir y ejecutar 
                    pruebas, depurar código, colaborar con equipos multifuncionales y documentar procesos. Soy experto 
                    en Java, bases de datos relacionales y no relacionales, y herramientas de integración continua y 
                    despliegue. Mi objetivo es asegurar que las aplicaciones cumplan con los requisitos del negocio y 
                    sean fáciles de mantener y escalar.</p>
            </li>
            <li>
                <strong>Estudios freelance</strong> - Desarrollo web (2023 - Presente)
                <p>Tambien estoy aprendiendo nuevos conocimientos, enfocados en el desarrollo web con conocimientos en HTML 
                    y CSS. Utilizo HTML para estructurar el contenido de las páginas web y CSS para darles estilo y hacerlas 
                    visualmente atractivas y responsivas. He creado varias páginas web estáticas, implementando diseños 
                    modernos y funcionales.

                    Actualmente, estoy aprendiendo JavaScript para mejorar mis habilidades y poder agregar interactividad
                     a las páginas web. Estoy trabajando en comprender conceptos como la manipulación del DOM, eventos, y 
                     la creación de aplicaciones web dinámicas. Mi objetivo es combinar mis conocimientos de HTML y CSS con 
                     JavaScript para desarrollar experiencias de usuario más ricas y dinámicas en mis proyectos.</p>
            </li>
        </ul>
    </section>

    <section>
        <h2>Mis Proyectos</h2>
        <ul>
            <li>
                <a href="https://github.com/EddSanchezz/MiPortafolio" target="_blank" rel="noopener noreferrer">
                    <strong>Portafolio</strong>
                </a>
                <p>todo el codigo detras de esta pagina principalmente enfocado en unificar todos mis conocimientos
                   tanto de backend como de frontend.
                </p>
            </li>
            <li>
                <a href="https://github.com/EddSanchezz/ProyectoFinalProgramacion3" target="_blank" rel="noopener noreferrer">
                    <strong>Taquilleria Virtual</strong>
                </a>
                <p>Proyecto universitario creado para la venta y la creacion de eventos, en el archivo read se puede ver las condiciones del proyecto</p>
            </li>
        </ul>
    </section>

    <section>
        <h2>Conocimientos</h2>
        <ul>
            <li>Lenguajes de Programación: HTML, CSS, JavaScript, Java</li>
            <li>Frameworks: Angular, SpringBoot</li>
            <li>Herramientas: Git, Github</li>
        </ul>
    </section>
</div>



</body>
</html>
